@font-face {
    font-family: "Handwriting-font";
    src: url(./assets/Handwriting.ttf) format("TrueType");
}

@font-face {
    font-family: "Collegiate-font";
    src: url(./assets/CollegiateInsideFLF.ttf) format("TrueType");
}


#hint { 
    font-family: "Handwriting-font", Verdana, Tahoma;
    font-size: 3em;
    color: #229;
    margin: 15px;
    background-color: #FFEE99;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

#name, h1 {
    font-family: "Collegiate-font", Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    text-align: center;
}

#description, p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    
}

body {
    background-color: rgb(179, 188, 199);
    font-family:Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: 10px;
}

#mylocation {
    text-align:  center;
    text-transform: uppercase;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointers;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4c82af;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;   
}

.button:hover {background-color: #27455e;}

.button:active {
    background-color: #3e8e41;
    box-shadow:  0 5px #666;
    transform: translateY(4px);
}
